src/test/resources/integration-test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:akv="http://www.mulesoft.org/schema/mule/akv"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/akv http://www.mulesoft.org/schema/mule/akv/current/mule-akv.xsd">

    <akv:config name="config" >
        <akv:connection vaultName="${AZURE_VAULT_NAME}" tenantId="${AZURE_TENANT_ID}" clientId="${AZURE_CLIENT_ID}" clientSecret="${AZURE_CLIENT_SECRET}" />
    </akv:config>

    <flow name="getKeyTest" >
        <akv:get-key config-ref="config" keyName="${akv.test.key.name}"/>
    </flow>

    <flow name="getSecretTest" >
        <akv:get-secret config-ref="config" secretName="${akv.test.secret.name}"/>
    </flow>

    <flow name="getCertificateTest" >
        <akv:get-certificate config-ref="config" certificateName="${akv.test.certificate.name}"/>
    </flow>

    <flow name="encryptKeyTest" >
        <akv:encrypt-key config-ref="config" keyName="${akv.test.key.name}" alg="${akv.test.alg}" value="${akv.test.value}" />
    </flow>

    <flow name="decryptKeyTest" >
        <akv:encrypt-key config-ref="config" keyName="${akv.test.key.name}" alg="${akv.test.alg}" value="${akv.test.value}" />
        <set-variable value="#[payload.value]" variableName="encryptedValue"/>
        <akv:decrypt-key config-ref="config" keyName="${akv.test.key.name}" alg="${akv.test.alg}" value="#[payload.value]" />
    </flow>
</mule>
